
@media (max-width: 992px) {

  .img {

  
    max-width: 140px;
    max-height: 140px;
    border-radius: 50%;
    margin-bottom: -10px;
  }

  #white-bg {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .about {
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }

  .about h1 {
    font-size: 1.7em;
  
    margin-left: 0;
  }

  .about p {
    font-size: 1.3em;
    text-align: justify;
    font-weight: 600;
    /* letter-spacing: 3px; */
    letter-spacing: 1.2px;

  }

  .mt {
    margin-right: 36px;

  }

  .profile h2 {
    margin-left: 10px;
  }

  .hr {
    width: 95px;
    margin-left: 7px;
    height: 5px;
    border: 2px solid #50ed09;
    margin-top: -7px;
    opacity: 1;
    background: red;
  }

  .hr2 {
    width: 145px;
  }

  .hr3 {
    width: 217px;
    margin-left: 2px;
  }
  .hr4{
    width: 255px !important;
  }
  .hr5 {
    width: 369px !important;
  }
}

@media screen and (max-width: 745px) {

  .container,
  .container-sm {
    max-width: 600px;
  }

  .contact p {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
    padding: 0 7px;
  }

  .hr {
    width: 90px;
    margin-left: 4.7px;
    height: 5px;
    border: 2px solid #50ed09;
    margin-top: -7px;
    opacity: 1;
    background: red;
  }

  .progres {
    width: 70%;
    margin: 10px auto;
    position: relative;
    top: -7px;
  }

  .hr2 {
    width: 136px;
  }

  .hr3 {
    width: 204px;
  }
}

@media screen and (max-width:500px) {

  .container-sm {
    display: flex;
    flex-direction: column;
    padding-right: 36px;
    padding-left: 6px;
  }

  .img {

  
    max-width: 110px;
    max-height: 110px;
    border-radius: 50%;
    margin-bottom: -10px;
  }

  .about h1 {
    font-size: 1.2em;
  
    margin-left: 9px;
    letter-spacing: 8px;
    font-weight: bold;
  }


  .about p {

    font-size: 1em;
    text-align: justify;
    font-weight: 650;
  }

  .progres {
    width: 90%;
    margin: 10px auto;
    position: relative;
    top: -7px;
  }

  .hr2 {
    width: 125px;
  }

  .hr3 {
    width: 191px;
  }
  .secondary{
    flex-direction: column !important;
  }
  .hr5 {
    width: 328px !important;
  }
}

@media screen and (max-width:454px) {
  .profile {
    margin-top: -6px;
  }

  .summary p {
    margin-left: 2px;
   

  }

  .progres {
    width: 100%;
    margin: 10px auto;
    position: relative;
    top: -7px;
  }

  .hr3 {
    width: 183px;
  }

}

@media screen and (max-width:400px) {

  .container-sm {
    display: flex;
    flex-direction: column;
    padding-right: 36px;
    padding-left: 6px;
  }

  .img {

  
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-bottom: -10px;
  }

  .about h1 {
    font-size: 1.2em;
  
    margin-left: 0;
    letter-spacing: 8px;
    font-weight: bold;
  }


  .about p {
    font-size: 1em;
    text-align: justify;
    font-weight: 635;

  }

  .contact p {
    font-size: 9px;
    text-align: center;
    margin-top: 5px;
    padding: 0 7px;
    font-weight: 650;
  }
  .hr4{
    width: 245px;
  }
  .hr5 {
    width: 317px !important;
  }
  .sales{
    margin-left: 5px !important;
  }
}




@media screen and (max-width: 307px) {
  .contact p {
    font-size: 7px;
    text-align: center;
    margin-top: 5px;
    padding: 0 5px !important;
    font-weight: 650;

  }

  .about p {

    letter-spacing: 0px;
  }
}